
nav{
  margin: 20px 0;
    display: flex;
    justify-content: end;
    height: 40px;
    p{
        margin: 10px 20px;
        padding-bottom: 10px;
        &.active {
            border-bottom: 5px solid #18898d;
        }
    }
}


@media(min-width:600px){
    nav{
        padding: 0 40px;
    }
}
