header {
    ul {
        padding: 20px 200px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            list-style: none;
            padding: 5px 10px;
            cursor: pointer;
            &.active {
                border-bottom: 3px solid red;
            
            }
        }
    }
}
